.s1{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold
	}

.s2{
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	font-size: larger;
	color: green;
}

.s3{	
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: larger;
	font-style: italic;
}

.s4{	
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
}

.s5{	
	font-family: 'Times New Roman', Times, serif;
}

.s6{
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	}


.s7{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	}
		